<nav class="top_nav">
  <ul>
    <li><a href="/about_us">About Us</a></li>
    <li><a href="/members/premium">Premium Members</a></li>
    <li><a href="/members/standard">Standard Members</a></li>
    <li><a href="/members/new">Add New Member</a></li>
    <li>
      <form action="/members/search" method="post">
        <input type="text" name="search" placeholder="Search Members..">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </li>
  </ul>
</nav>

<section>
  <form action="/members/<% if @member %><%= @member.id %>/edit<% else %><%= "new" %><% end %>" method="post">
    <p>
      <label for="first-name">First Name:</label>
      <input type="text" name="first_name" id="first-name"
      value="<%= @member.first_name if @member %>" required>
    </p>

    <p>
      <label for="last-name">Last Name:</label>
      <input type="text" name="last_name" id="last-name"
      value="<%= @member.last_name if @member %>" required>
    </p>

    <p>
      <label for="date-of-birth">Date of Birth:</label>
      <input type="date" name="date_of_birth" id="date-of-birth"
      value="<%= @member.html_date if @member %>" required>
    </p>

    <p>
      <label for="street">Street:</label>
      <input type="text" name="street" id="street"
      value="<%= @member.street if @member %>">
    </p>

    <p>
      <label for="city">City:</label>
      <input type="text" name="city" id="city"
      value="<%= @member.city if @member %>">
    </p>

    <p>
      <label for="postcode">Postcode:</label>
      <input type="text" name="postcode" id="postcode"
      value="<%= @member.postcode if @member %>">
    </p>

    <p>
      <label for="phone">Contact Number:</label>
      <input type="tel" name="phone" id="phone"
      value="<%= @member.phone if @member %>">
    </p>

    <p>
      <label for="membership">Membership Type:</label>
      <select name="membership" id="membership" required>
        <option value="Standard" <% if @member%><%= "selected" if @member.membership == "Standard" %><% end %>>Standard</option>
        <option value="Premium" <% if @member %><%= "selected" if @member.membership == "Premium" %><% end %>>Premium</option>
      </select>
    </p>

    <input class="view_button" type="submit" value="Save Details">
  </form>
</section>
