    <li><a href="/about_us">About Us</a></li>
  </ul>
</nav>

<section>
  <p><%= @member.pretty_name %></p>
  <p><%= @member.pretty_date %></p>
  <p><%= @member.pretty_address %></p>
  <p><%= @member.phone %></p>
  <p><%= @member.membership %></p>
  <p><a href="/members/<%= @member.id %>/edit">Edit details</a></p>

  <p><a href="/bookings/<%= @member.id %>">Book a class</a></p>
  <br>

  <form action="/members/<%= @member.id %>/delete" method="post">
    <input type="submit" value="Delete Member">
  </form>
</section>
