<p><%= @member.pretty_name %></p>
<p><%= @member.date_of_birth %></p>
<p><%= @member.pretty_address %></p>
<p><%= @member.phone %></p>
<p><a href="/members/<%= @member.id %>/edit">Edit details</a></p>
<p><form action="/members/<%= @member.id %>/delete" method="post">
  <input type="submit" value="Delete Member">
</form></p>
