<nav class="top_nav">
  <ul>
    <li><a href="/about_us">About Us</a></li>
    <li><a href="/members/premium">Premium Members</a></li>
    <li><a href="/members">All Members</a></li>
    <li><a href="/members/new">Add New Member</a></li>
    <li>
      <form action="/members/standard-search" method="post">
        <input type="text" name="search" placeholder="Search Members..">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </li>
  </ul>
</nav>

<section>
  <% @members.each do |member| %>
    <p><%= member.pretty_name %></p>
    <p><%= member.pretty_date %></p>
    <p><%= member.pretty_address %></p>
    <p><%= member.phone %></p>
    <p><%= member.membership %></p>
    <p><a class="link_button" href="/members/<%= member.id %>">Show details</a></p>
    <hr>
  <% end %>
</section>
