<li><a href="/about_us">About Us</a></li>
</ul>
</nav>

<section>
<form action="/gym_classes/<%= @gym_class.id %>/edit" method="post">
<p>
  <label for="type">Type:</label>
  <input type="text" name="type" id="type"
  value="<%= @gym_class.type %>">
</p>

<p>
  <label for="start-date">Date:</label>
  <input type="date" name="start_date" id="start-date"
  value="<%= @gym_class.date %>">

  <label for="start-time">Time:</label>
  <input type="time" name="start_time" id="start-time"
  value="<%= @gym_class.time %>">

  <label for="duration">Duration:</label>
  <input type="text" name="duration" id="duration"
  value="<%= @gym_class.duration %>">
</p>

<p>
  <label for="instructor">Instructor:</label>
  <select name="instructor_id" id="instructor">
    <% @instructors.each do |instructor| %>
    <option value="<%= instructor.id %>"
      <%= "selected" if @gym_class.instructor_id == instructor.id%>>
      <%= instructor.pretty_name %>
    </option>
    <% end %>
  </select>

  <label for="room">Room:</label>
  <select name="room_id" id="room" style="width:100px">
    <% @rooms.each do |room| %>
    <option value="<%= room.id %>" <%= "selected" if @gym_class.room_id == room.id %>>
      <%= room.name %>
    </option>
    <% end %>
  </select>
</p>

<input type="submit" value="Save Class">
</form>
</section>
