<nav class="top_nav">
  <ul>
    <li><a href="/about_us">About Us</a></li>
    <li><a href="/gym_classes/new">Create Class</a></li>
    <li>
      <form action="/rooms/gym-classes" method="post">
        <input type="text" name="search" placeholder="Search Classes..">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </li>
  </ul>
</nav>

<section>
<p>
<%= @gym_class.type %> Class
<%= @gym_class.pretty_date_time %>
<%= @gym_class.duration %>
<%= @gym_class.spaces %>
<%= @gym_class.instructor.pretty_name %>
<%= @gym_class.room.name %>
</p>

<% if @gym_class.id %>
  <p><a href="/gym_classes/<%= @gym_class.id %>/edit">Edit details</a></p>
  <br>
<% else %>
  <form action="/gym_classes/new"></form>
  <p><input type="submit" value="Edit details"></p>
  <br>
<% end %>

</section>
