<nav class="top_nav">
  <ul>
    <li><a href="/about_us">About Us</a></li>
    <li><a href="/gym_classes/new">Create Class</a></li>
    <li>
      <form action="/rooms/gym-classes" method="post">
        <input type="text" name="search" placeholder="Search Classes..">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </li>
  </ul>
</nav>

<section>
  <p>
    <%= @gym_class.type %> Class
  </p>
  <p>
    <%= @gym_class.pretty_date_time %>
  </p>
  <p>
    Duration: <%= @gym_class.duration %>
  </p>

  <p>
    <%= @msg %>
  </p>

  <% if @gym_class.id %>
  <p><a href="/gym_classes/<%= @gym_class.id %>/edit">Edit details</a></p>
  <br>
  <% else %>
  <form action="/gym_classes/new"></form>
  <p><input class="view_button" type="submit" value="Edit details"></p>
  <br>
  <% end %>

</section>
