    <li><a href="/gym_classes/new">Create Class</a></li>
  </ul>
</nav>

<section>
  <% @gym_classes.each do |gym_class| %>
  <p>
    <%= gym_class.type %>
    <%= gym_class.pretty_date %>
    <%= gym_class.pretty_time %>
    <%= gym_class.duration %>
    <%= gym_class.spaces %>
    <%= gym_class.instructor.pretty_name %>
    <%= gym_class.room.name %>
  </p>
  <p><a href="/gym_classes/<%= gym_class.id %>">Show details</a></p>
  <hr>
  <% end %>

  <p><a href="/gym_classes/upcoming">List of upcoming classes</a></p>
</section>
