    <li><a href="/about_us">About Us</a></li>
  </ul>
</nav>

<form action="/gym_classes/<% if @gym_class %><%= @gym_class.id %>/edit<% else %><%= "new" %><% end %>" method="post">
  <label for="type">Type:</label>
  <input type="text" name="type" id="type"
  value="<%= @gym_class.type if @gym_class %>">
  <br>

  <label for="start-date">Date:</label>
  <input type="date" name="start_date" id="start-date"
  value="<%= @gym_class.html_date if @gym_class %>">
  <br>

  <label for="start-time">Time:</label>
  <input type="time" name="start_time" id="start-time"
  value="<%= @gym_class.start_time if @gym_class %>">

  <label for="duration">Duration:</label>
  <input type="text" name="duration" id="duration"
  value="<%= @gym_class.duration if @gym_class %>">
  <br>

  <label for="instructor">Instructor:</label>
  <select name="instructor_id" id="instructor">
    <% @instructors.each do |instructor| %>
      <option value="<%= instructor.id %>" <% if @gym_class %><% if @gym_class.instructor_id == instructor.id %><%= "selected" %><% end %><% end %>><%= instructor.pretty_name %></option>
    <% end %>
  </select>

  <label for="room">Room:</label>
  <select name="room_id" id="room">
    <% @rooms.each do |room| %>
      <option value="<%= room.id %>" <% if @gym_class %><% if @gym_class.room_id == room.id %><%= "selected" %><% end %><% end %>><%= room.name %></option>
      <input type="hidden" name="spaces" value="<% if @gym_class %><%= @gym_class.spaces %><% else %><%= room.capacity %><% end %>">
    <% end %>
  </select>

  <input type="submit" value="Save Class">
</form>
