<form action="/gym_classes/<% if @gym_class %><%= @gym_class.id %>/edit<% else %><%= "new" %><% end %>" method="post">
  <label for="type">Type:</label>
  <input type="text" name="type" id="type"
  value="<%= @gym_class.type if @gym_class %>">

  <label for="start-time">Time:</label>
  <input type="text" name="start_time" id="start-time"
  value="<%= @gym_class.start_time if @gym_class %>">

  <label for="duration">Duration:</label>
  <input type="text" name="duration" id="duration"
  value="<%= @gym_class.duration if @gym_class %>">

  <label for="room">Room:</label>
  <select name="room_id" id="room">
    <% @rooms.each do |room| %>
      <option value="<%= room.id %>" <% if @gym_class %><% if @gym_class.id == room.id %><%= "selected" %><% end %><% end %>><%= room.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Save Class">
</form>
