    <li><a href="/about_us">About Us</a></li>
  </ul>
</nav>

<section>
  <p>
    <%= @gym_class.type %> Class
    <%= @gym_class.pretty_date %>
    <%= @gym_class.start_time %>
    <%= @gym_class.duration %>
    <%= @gym_class.spaces %>
    <%= @gym_class.instructor.pretty_name %>
    <%= @gym_class.room.name %>
  </p>

  <% @gym_class.members.each do |member| %>
  <p><%= member.pretty_name %></p>
  <% end %>

  <p><a href="/gym_classes/<%= @gym_class.id %>/edit">Edit details</a></p>
  <br>

  <form action="/gym_classes/<%= @gym_class.id %>/delete"
    method="post">
    <input type="submit" value="Delete Class">
  </form>
</section>
