<nav class="top_nav">
  <ul>
    <li><a href="/about_us">About Us</a></li>
    <li><a href="/gym_classes/new">Create Class</a></li>
    <li>
      <form action="/rooms/gym-classes" method="post">
        <input type="text" name="search" placeholder="Search Classes..">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </li>
  </ul>
</nav>

<section>
  <% @gym_classes.each do |gym_class| %>
  <p>
    <%= gym_class.type %>
    <%= gym_class.pretty_date_time %>
    <%= gym_class.duration %>
    <%= gym_class.spaces %>
    <%= gym_class.instructor.pretty_name %>
    <%= gym_class.room.name %>
  </p>
  <p><a href="/gym_classes/<%= gym_class.id %>">Show details</a></p>
  <hr>
  <% end %>

  <p><a href="/gym_classes">Show all classes</a></p>
</section>
