<nav class="top_nav">
  <ul>
    <li><a href="/about_us">About Us</a></li>
    <li><a href="/gym_classes/upcoming">Show upcoming classes</a></li>
    <li><a href="/gym_classes">Show all classes</a></li>
    <li><a href="/gym_classes/new">Create Class</a></li>
    <li>
      <form action="/gym_classes/search" method="post">
        <input type="text" name="search" placeholder="Search Classes..">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </li>
  </ul>
</nav>

<section>
  <span class="data">
  <% @gym_classes.each do |gym_class| %>
  <p><%= gym_class.type %> Class</p>
  <p><%= gym_class.pretty_date_time %></p>
  <p>Duration: <%= gym_class.duration %></p>
  <p><%= gym_class.spaces %> spaces left</p>
  <p>Run by instructor <%= gym_class.instructor.pretty_name %></p>
  <p>in room <%= gym_class.room.name %></p>
  <p><a class="link_button" class="link_button" href="/gym_classes/<%= gym_class.id %>">Show details</a></p>
  <% end %>
  </span>
</section>
