<h1>Booking</h1>

<% @gym_classes.each do |gym_class| %>
  <p><%= gym_class.type %> Class</p>
  <p><%= gym_class.room_capacity %> spaces left</p>
  <p>
    <form action="/bookings/<%= @member.id %>" method="post">
      <input type="hidden" name="member_id" value="<%= @member.id %>">
      <input type="hidden" name="gym_class_id" value="<%= gym_class.id %>">
      <input type="submit" value="Book Place">
    </form>
  </p>
<% end %>
