<nav class="top_nav">
  <ul>
    <li><a href="/about_us">About Us</a></li>
  </ul>
</nav>

<section>
  <h1>Booking</h1>

  <% @gym_classes.each do |gym_class| %>
  <p><%= gym_class.type %> Class</p>
  <p><%= gym_class.spaces %> spaces left</p>
  <br>
  <form action="/bookings/<%= @member.id %>" method="post">
    <input type="hidden" name="member_id" value="<%= @member.id %>">
    <input type="hidden" name="gym_class_id" value="<%= gym_class.id %>">
    <% if gym_class.spaces > 0%>
    <input type="submit" value="Book Place">
    <% end %>
  </form>
  <% end %>
</section>
